
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

* {
    box-sizing: border-box;  /* allows to include the padding and border in an element's total width and height. */
    -webkit-font-smoothing: antialiased;
}

html {
  font-family: sans-serif; */
    /* -webkit-text-size-adjust: 100%; */
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-size: 70%;
}


body {
  background-color: #21252b;
  color: #dedede;
  font-size: 4vw;
  font-family: 'Roboto', monospace;
  font-weight: 400;
}



h1, h2, h3, h4{
  font-family: 'Montserrat', 'Helvetica', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}


ul, ol, li {
  list-style-type: none;
}



h1 {
  font-size: 2em;
  padding-top: 0;
}

h2 {
  font-size: 1.25em;
  font-weight: normal;
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
}


h4 {
  font-size: 0.9em;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}



#by {
  color: #2f343c;
  padding: 3em 0;
}

#container-page{
  width: 80%;
  margin: 0 auto;
}


#games h1{
  font-family: 'Roboto', monospace;
  font-size: 1.8em;
  font-style: italic;
  padding: 3em 0 2em;
}

#games h4{
  font-family: 'Roboto', monospace;
  padding: 0 0 0em;
}




#hashtags ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.5em;
  padding: 3em 0;
}

#hashtags li{
  color: #00aa71;
  padding: 0 .5em 0 0;
}

#hashtags li:hover{
  color: #02ffaa;
}

#upCommingGames{
  line-height: 3em;
}

#upCommingGames h3{
  font-size: 1.25em;
  font-weight: bold;
}

#upCommingGames div{
  padding: 1em 2em 2em 0;
}

#upCommingGames li{
  padding: 2em 0 1em;
  border-bottom: #292d34 1px solid;
}

/*
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
.city{
  color: #abb2be;
}

.column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.date{
  font-weight: bold;
}

.mex{
  font-weight: bold;
  color: #02ffaa;
}

.month{
  font-weight: lighter;
}

.pais{
  color: #02ffaa;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.time{
  font-size: 1.2em;
  font-weight: 900;
  padding-right: .3em;
}

.torneo{
  color: #abb2be;
  font-weight: 400;
}

.year {
  color: #6b727c;
  font-size: .6em;
  font-weight: normal;
  padding-left: .5em;
}

.vs{
  font-family: 'Roboto', monospace;
  font-size: .8em;
  padding: 0 .5em;
}
