extends ../layout.pug
block content
  body
    ul
      li
        a(href="/matches/", target="_blank") Matches
    form(action = '/matches', method = 'POST', enctype = 'multipart/form-data')
      label(for = 'localTeam') Local Team:
        input(type = 'text', id = '', class = '', name = 'localTeam')
      label(for = 'visitingTeam') Visiting Team:
        input(type = 'text', id = '', class = '', name = 'visitingTeam')
      label(for = 'matchDate') Match Date:
        input(type = 'text', id = '', class = '', name = 'matchDate')
      label(for = 'matchTime') Match Time:
        input(type = 'text', id = '', class = '', name = 'matchTime')
      label(for = 'matchLocation') Location:
        input(type = 'text', id = '', class = '', name = 'matchLocation')
      label(for = 'matchStadium') Stadium:
        input(type = 'text', id = '', class = '', name = 'matchStadium')
      input(type = 'submit', value= 'SUBMIT')
      
